@import url('https://fonts.googleapis.com/css?family=Open+Sans|Major+Mono+Display');

* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  background: white;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
}
.centercontent{
  width: 70%;
}
h2{
  animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.header {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 30px;
  text-align: center;
  font-family: 'Major Mono Display','Open Sans', sans-serif;
  font-size: 25px;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Major Mono Display','Open Sans', sans-serif;
  border-radius: 10px;
  z-index: 999;

}

#navbar a {
  float: center;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

#navbar a:hover {
  background-color: #549DC4;
  color: black;
  border-radius: 10px;
}

#navbar a.active {
  background-color: #549DC4;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 50%;
  border-radius: 0px 0px 10px 10px !important;
  transform: translateX(-50%);
}

.sticky + .content {
  padding-top: 60px;
}

.images{
  padding: 10%;
  font-family: 'Major Mono Display','Open Sans', sans-serif;
  font-size: 20px;
  background-image: url('pic1.jpg');
  background-position: center; 
  background-size: cover;
  background-color: rgb(200,200,200);
  transition:1s;
  background-blend-mode: multiply;
  border-radius: 10px;
  background-attachment: fixed;
  color: white;
  position: relative;
}
.bottomlef{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.images:hover{
  background-color: rgb(150,150,150);
  cursor: pointer;
}

.content{
  text-align: left;
  padding: 2% 4%;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #E3E5E8;
  border-radius: 10px;
  transition: 0.3s;
}
.big{
  font-size: 28px;
}

.button{
  background-color: #549DC4;
  border: none;
  color: white; 
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 1% 2%;
}

.textbox{
  margin-left: 3px;
  padding: 2px;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  transition: 0.4s;
}
@media screen and (max-width: 600px) {
  .column {
      width: 100% !important;
  }
  .centercontent{
    width :95%;
  }
  .images{
    padding: 30%;
  }
}

.link{
  text-decoration: none;
  transition: 0.3s;
}
.link:hover{
  color: red;
}
.rounded{
  border-radius: 100%;
  background-color: #DCDCDC;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid grey;
}
.rounded:hover{
  border-radius: 10%;
}